@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


.admin-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.content-container {
    flex: 1;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s;
}

.sidebar-container.expanded + .content-container {
    margin-left: 220px;
}

.sidebar-container.collapsed + .content-container {
    margin-left: 70px;
}

/* Estilo para ítem activo en el menú */
.menu-item.active {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.menu-item {
    cursor: pointer;
}

/* Responsive para dispositivos móviles */
@media (max-width: 768px) {
    .sidebar-container.expanded + .content-container,
    .sidebar-container.collapsed + .content-container {
        margin-left: 0;
    }
    
    .sidebar-container {
        position: fixed;
        z-index: 1000;
        height: 100vh;
    }
}