.videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Envía el video al fondo */
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video al tamaño del contenedor */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Ajusta la opacidad para oscurecer el video */
  }
  
  