.dock-outer {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto !important;
  }
  
  .dock-panel {
    position: fixed;  /* Fija la barra en la pantalla */
    bottom: 1rem;  /* Ajusta la distancia desde el borde inferior */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    border-radius: 10px;
    background-color: #2f2f2f;
    padding: 0.5rem;
    border: 1px solid #2a2a2a;
    z-index: 1000;  /* Asegura que esté sobre otros elementos */

}

  
  .dock-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #757474;
    color: rgb(63, 63, 63);
    border: 2px solid #ffffff00;
    cursor: pointer;
    outline: none;
    
  }
  

  
  .dock-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dock-label {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ae343400;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.75rem;
    color: rgba(156, 68, 68, 0);
  }
  
  