.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffefd6;
  padding: 10px 90px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: -50px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  margin-right: -15px ;
}

.rights {
  font-size: 14px;
  color: #666;
  margin-left: 12%;
}

.rights p {
  margin-top: 30%;
}

.social {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #a1a1a1;
  border-radius: 50%;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  transition: background 0.3s ease;
}

.icon:hover {
  background-color: #646464;
}

.AdminIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1a1a100;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  transition: background 0.3s ease;
}

.AdminIcon:hover {
  background-color: #646464;
}

.ProfileButton {
  background-color: #a1a1a1 ;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight:600 ;
  border: 0px solid #a1a1a1; 
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  padding: 6px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

}

.ProfileButton:hover {
  background-color: #646464;
}

.AdminIcon{
  width: 19px;
  height: 19px;
}