body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 60px;   /* Ajusta el tamaño */
  height: 60px;   /* Mantiene la proporción */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2)); /* Agrega sombra */
  transition: transform 0.3s ease-in-out; /* Suaviza las animaciones */
  padding: 10px;
}

.logo:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
